<style>
  body {
    background-image: url(../public/images/laptop.jpg);
    background-size: cover;
  }
  #background {
    padding-left: 2%;
    padding-top: 1%;
    background-color:rgba(255, 255, 255, 0.75);
  }
  .title {
    color:  #696969;
  }
  h1, h2, strong {
    color:  #696969;
  }
  .column {
    color:  #696969;
  }
</style>

<section class="section">
    <br>
    <div class="container" id="background">
      <h1 class="title has-text-centered has-text-weight-bold is-size-1">${data[0].name}</h1>
      <h2 class="subtitle has-text-centered is-size-3">
        ${data[0].location}
      </h2>
      <div class="is-size-3">
        <section>
            ${data.map(entry => `
                <div><strong>From ${entry.first_name} ${entry.last_name}:</strong>
                    <div class="columns">
                        <div class="column">Interview Rating: ${entry.interview_rating}<br>
                        ${!!(entry.interview_rating === "No Interview") ?
                        ""
                        :
                        "Whiteboarding Rating: "+ entry.whiteboarding_rating
                        }
                        <br>
                        Offer Extended: ${entry.job_offer}</div>
                        <div class="column">Comments:<br>
                        ${entry.comments}</div>
                    </div>
                <br>
            `).join("")}
            </section>
      </div>
    </div>
  </section>