<br>
<section class="section">
    <div class="container">
        <form class="columns form clearfix" action='/' method='POST'>
            <div class="column is-one-quarter">
                <div class="field">
                    <div class="control">
                        <label class="label">Enter email:
                        <input class="input" name='email' type='email' placeholder = 'you@email.com'>
                        </label>
                    </div>
                </div>
                <br>
                <div class="field">
                    <div class="control">
                        <label class="label">Password:
                            <input class="input" name='password' type='password' placeholder='Password'/>
                        </label>
                    </div>
                </div>
                <button class="button is-primary" type='submit'>Submit</button>
            </div>
        </form>
        <br>
    </div>
</section>
