<html lang="en">

<head>
  <title>app.track</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      background-image: url(public/images/laptop.jpg);
      background-size: cover;
    }
    </style>
</head>

<body>
  <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-size-4">
      <a href="http://localhost:3000/main" class="navbar-item">
      app.track</a>
      ${!!is_logged_in ? `
        <a href="http://localhost:3000/review" class="navbar-item">
        Write a Review
        ` : `<p></p>`
        }
        </a>
      ${!!is_logged_in ? `
      <a href="http://localhost:3000/logout" class="navbar-item">
      Log Out
      ` : `<a href="http://localhost:3000/" class="navbar-item">
        Log In`
      }
      </a>
      <a href="http://localhost:3000/users/signup" class="navbar-item is-pulled-right">
        Sign-Up
        </a>
    </div>
  </nav>
  ${partial}
</body>
</html>